{%extends "base.html"%}

{%block content%}
<h1 style="text-align:center">Password Generator</h1>
<form action="/genpass" class="form-horizontal">
	<div class="col-xs-2">
    <label for="minlen">Minimum Password Length</label>
	<select class="form-control" type="text" id="minlen" name="min_length" >
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
    </select>
    <br>
    </div>

    <div class="col-xs-2">
	<label for="maxlen">Maximum Password Length</label>
	<select class="form-control" type="text" id="maxlen" name="max_length">
		<option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
    </select>
    <br>
    </div>

    <div class="col-xs-2">
    <label for="minwordlen">Minimum Word Length</label>
	<select class="form-control" type="text" id="minwordlen" name="min_word_length">
		<option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
		<option value="8">8</option>
    </select>
    <br>
    </div>

    <div class="col-xs-2">
    <label for="maxwordlen">Maximum Word Length</label>
	<select class="form-control" type="text" id="maxwordlen" name="max_word_length">
		<option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <br>
    </div>

	<label for="numsub">Enable Number Substitution</label>
	<input type="checkbox" name="num_sub" id="numsub" value="numsub">
	<br>

	<label for="easy">Enable Easy Typing</label>
	<input type="checkbox" name="easy" id="easy" value="easy">
	<br>


	<div class="col-xs-2">
	<button class="form-control btn btn-warning" type="submit">Submit</button>
	</div>
</form>
{%endblock%}